#pelota-carga {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spinner 5s infinite;
}


@-webkit-keyframes spinner {
    from {
        transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        background-color: #ee3c80;
    }
    8% {
        transform: scale(0.8) rotate(720deg);
        -webkit-transform: scale(0.8) rotate(720deg);
        background-color: #1055b1;
    }
    17% {
        transform: scale(1) rotate(1080deg);
        -webkit-transform: scale(1) rotate(1080deg);
        background-color: #1055b1;
    }
    25% {
        transform: scale(0.8) rotate(1440deg);
        -webkit-transform: scale(0.8) rotate(1440deg);
        background-color: #17a84b;
    }
    34% {
        transform: scale(1) rotate(1800deg);
        -webkit-transform: scale(1) rotate(1800deg);
        background-color: #17a84b;
    }
    42% {
        transform: scale(0.8) rotate(2160deg);
        -webkit-transform: scale(0.8) rotate(2160deg);
        background-color: #f6c92f;
    }
    51% {
        transform: scale(1) rotate(2520deg);
        -webkit-transform: scale(1) rotate(2520deg);
        background-color: #f6c92f;
    }
    59% {
        transform: scale(0.8) rotate(2880deg);
        -webkit-transform: scale(0.8) rotate(2880deg);
        background-color: #ff6c00;
    }
    67% {
        transform: scale(1) rotate(3240deg);
        -webkit-transform: scale(1) rotate(3240deg);
        background-color: #ff6c00;
    }
    75% {
        transform: scale(0.8) rotate(3600deg);
        -webkit-transform: scale(0.8) rotate(3600deg);
        background-color: #ed1c24;
    }
    84% {
        transform: scale(1) rotate(3960deg);
        -webkit-transform: scale(1) rotate(3960deg);
        background-color: #ed1c24;
    }
    92% {
        transform: scale(0.8) rotate(4320deg);
        -webkit-transform: scale(0.8) rotate(4320deg);
        background-color: #ee3c80;
    }
    to {
        transform: scale(1) rotate(4680deg);
        -webkit-transform: scale(1) rotate(4680deg);
        background-color: #ee3c80;
    }
}

@-moz-keyframes spinner {
    from {
        transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        background-color: #ee3c80;
    }
    8% {
        transform: scale(0.8) rotate(720deg);
        -webkit-transform: scale(0.8) rotate(720deg);
        background-color: #1055b1;
    }
    17% {
        transform: scale(1) rotate(1080deg);
        -webkit-transform: scale(1) rotate(1080deg);
        background-color: #1055b1;
    }
    25% {
        transform: scale(0.8) rotate(1440deg);
        -webkit-transform: scale(0.8) rotate(1440deg);
        background-color: #17a84b;
    }
    34% {
        transform: scale(1) rotate(1800deg);
        -webkit-transform: scale(1) rotate(1800deg);
        background-color: #17a84b;
    }
    42% {
        transform: scale(0.8) rotate(2160deg);
        -webkit-transform: scale(0.8) rotate(2160deg);
        background-color: #f6c92f;
    }
    51% {
        transform: scale(1) rotate(2520deg);
        -webkit-transform: scale(1) rotate(2520deg);
        background-color: #f6c92f;
    }
    59% {
        transform: scale(0.8) rotate(2880deg);
        -webkit-transform: scale(0.8) rotate(2880deg);
        background-color: #ff6c00;
    }
    67% {
        transform: scale(1) rotate(3240deg);
        -webkit-transform: scale(1) rotate(3240deg);
        background-color: #ff6c00;
    }
    75% {
        transform: scale(0.8) rotate(3600deg);
        -webkit-transform: scale(0.8) rotate(3600deg);
        background-color: #ed1c24;
    }
    84% {
        transform: scale(1) rotate(3960deg);
        -webkit-transform: scale(1) rotate(3960deg);
        background-color: #ed1c24;
    }
    92% {
        transform: scale(0.8) rotate(4320deg);
        -webkit-transform: scale(0.8) rotate(4320deg);
        background-color: #ee3c80;
    }
    to {
        transform: scale(1) rotate(4680deg);
        -webkit-transform: scale(1) rotate(4680deg);
        background-color: #ee3c80;
    }
}

@keyframes spinner {
    from {
        transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        background-color: #ee3c80;
    }
    8% {
        transform: scale(0.8) rotate(720deg);
        -webkit-transform: scale(0.8) rotate(720deg);
        background-color: #1055b1;
    }
    17% {
        transform: scale(1) rotate(1080deg);
        -webkit-transform: scale(1) rotate(1080deg);
        background-color: #1055b1;
    }
    25% {
        transform: scale(0.8) rotate(1440deg);
        -webkit-transform: scale(0.8) rotate(1440deg);
        background-color: #17a84b;
    }
    34% {
        transform: scale(1) rotate(1800deg);
        -webkit-transform: scale(1) rotate(1800deg);
        background-color: #17a84b;
    }
    42% {
        transform: scale(0.8) rotate(2160deg);
        -webkit-transform: scale(0.8) rotate(2160deg);
        background-color: #f6c92f;
    }
    51% {
        transform: scale(1) rotate(2520deg);
        -webkit-transform: scale(1) rotate(2520deg);
        background-color: #f6c92f;
    }
    59% {
        transform: scale(0.8) rotate(2880deg);
        -webkit-transform: scale(0.8) rotate(2880deg);
        background-color: #ff6c00;
    }
    67% {
        transform: scale(1) rotate(3240deg);
        -webkit-transform: scale(1) rotate(3240deg);
        background-color: #ff6c00;
    }
    75% {
        transform: scale(0.8) rotate(3600deg);
        -webkit-transform: scale(0.8) rotate(3600deg);
        background-color: #ed1c24;
    }
    84% {
        transform: scale(1) rotate(3960deg);
        -webkit-transform: scale(1) rotate(3960deg);
        background-color: #ed1c24;
    }
    92% {
        transform: scale(0.8) rotate(4320deg);
        -webkit-transform: scale(0.8) rotate(4320deg);
        background-color: #ee3c80;
    }
    to {
        transform: scale(1) rotate(4680deg);
        -webkit-transform: scale(1) rotate(4680deg);
        background-color: #ee3c80;
    }
}
